# Unstacking dataframe

The excel file is located in S:/Research/TrendStrategies/PriceDatabase/EQUITY_ETF_SCR.xlsx
![title](https://www.lucidchart.com/publicSegments/view/729934fc-800c-4435-a665-e99533f875cb/image.png)

In [22]:
import pandas as pd

In [23]:
df = pd.read_excel("S:/Research/TrendStrategies/PriceDatabase/EQUITY_ETF_SCR.xlsx",sheet_name='Sheet1')

In [24]:
df.columns

Index(['ID', 'DATE', 'COVERAGE_TCS', 'COVERAGE_TCS_ADJ', 'COVERAGE_PCF_REL',
       'COVERAGE_PCF_ADJ_REL', 'TCS_Final', 'PCF_Final', 'TCS_ADJ_Final',
       'PCF_ADJ_Final'],
      dtype='object')

In [25]:
ID2keep = ['XLC','XLY','XLP','XLE','XLF','XLV','XLI','XLB','XLRE','XLK','XLU']

In [26]:
df.head()

,ID,DATE,COVERAGE_TCS,COVERAGE_TCS_ADJ,COVERAGE_PCF_REL,COVERAGE_PCF_ADJ_REL,TCS_Final,PCF_Final,TCS_ADJ_Final,PCF_ADJ_Final
0,IDU,2018-01-31,0.868072,0.868072,0.868072,0.868072,0.365377,0.480672,0.365377,0.448068
1,IDU,2018-02-28,0.868072,0.868072,0.868072,0.868072,0.367792,0.507699,0.367792,0.482737
2,IDU,2018-03-29,0.868072,0.868072,0.868072,0.868072,0.366556,0.513616,0.366556,0.463754
3,IDU,2018-04-30,0.862821,0.862821,0.862821,0.862821,0.364663,0.500623,0.364663,0.449530
4,IDU,2018-05-31,0.862821,0.862821,0.862821,0.862821,0.363592,0.512307,0.363592,0.458760

In [27]:
sData_COVERAGE_TCS           = df.pivot(index='DATE',columns='ID',values='COVERAGE_TCS')
sData_COVERAGE_TCS_ADJ       = df.pivot(index='DATE',columns='ID',values='COVERAGE_TCS_ADJ')
sData_COVERAGE_PCF_REL       = df.pivot(index='DATE',columns='ID',values='COVERAGE_PCF_REL')
sData_COVERAGE_PCF_ADJ_REL   = df.pivot(index='DATE',columns='ID',values='COVERAGE_PCF_ADJ_REL')

sData_TCS_Final              = df.pivot(index='DATE',columns='ID',values='TCS_Final')
sData_PCF_Final              = df.pivot(index='DATE',columns='ID',values='PCF_Final')
sData_TCS_ADJ_Final          = df.pivot(index='DATE',columns='ID',values='TCS_ADJ_Final')
sData_PCF_ADJ_Final          = df.pivot(index='DATE',columns='ID',values='PCF_ADJ_Final')

In [28]:
sData_COVERAGE_TCS.head()

ID,IDU,IYC,IYE,IYF,IYH,IYJ,IYK,IYM,IYW,IYZ,...,XLC,XLE,XLF,XLI,XLK,XLP,XLRE,XLU,XLV,XLY
DATE,,,,,,,,,,,,,,,,,,,,,
1993-01-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993-02-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993-05-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
#: keep the columns in ID2keep
sData_COVERAGE_TCS          = sData_COVERAGE_TCS[ID2keep]
sData_COVERAGE_TCS_ADJ      = sData_COVERAGE_TCS_ADJ[ID2keep]
sData_COVERAGE_PCF_REL      = sData_COVERAGE_PCF_REL[ID2keep]
sData_COVERAGE_PCF_ADJ_REL  = sData_COVERAGE_PCF_ADJ_REL[ID2keep]

sData_TCS_Final             = sData_TCS_Final[ID2keep]
sData_PCF_Final             = sData_PCF_Final[ID2keep]
sData_TCS_ADJ_Final         = sData_TCS_ADJ_Final[ID2keep]
sData_PCF_ADJ_Final         = sData_PCF_ADJ_Final[ID2keep]

In [32]:
sData_COVERAGE_TCS.head()

ID          XLC  XLY  XLP  XLE  XLF  XLV  XLI  XLB  XLRE  XLK  XLU
DATE
1993-01-29  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN  NaN
1993-02-26  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN  NaN
1993-03-31  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN  NaN
1993-04-30  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN  NaN
1993-05-28  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN  NaN

## Using Dictionary to create multi label columns

In [33]:

dd = {}

dd['COVERAGE_TCS']         = sData_COVERAGE_TCS
dd['COVERAGE_TCS_ADJ']     = sData_COVERAGE_TCS_ADJ
dd['COVERAGE_PCF_REL']     = sData_COVERAGE_PCF_REL
dd['COVERAGE_PCF_ADJ_REL'] = sData_COVERAGE_PCF_ADJ_REL

dd['TCS_Final']            = sData_TCS_Final
dd['PCF_Final']            = sData_PCF_Final
dd['TCS_ADJ_Final']        = sData_TCS_ADJ_Final
dd['PCF_ADJ_Final']        = sData_PCF_ADJ_Final

df_T = pd.concat(dd, axis=1)

In [34]:
df_T.head()

           COVERAGE_PCF_ADJ_REL                                      ...  \
ID                          XLC XLY XLP XLE XLF XLV XLI XLB XLRE XLK ...
DATE                                                                 ...
1993-01-29                  NaN NaN NaN NaN NaN NaN NaN NaN  NaN NaN ...
1993-02-26                  NaN NaN NaN NaN NaN NaN NaN NaN  NaN NaN ...
1993-03-31                  NaN NaN NaN NaN NaN NaN NaN NaN  NaN NaN ...
1993-04-30                  NaN NaN NaN NaN NaN NaN NaN NaN  NaN NaN ...
1993-05-28                  NaN NaN NaN NaN NaN NaN NaN NaN  NaN NaN ...

           TCS_Final
ID               XLY XLP XLE XLF XLV XLI XLB XLRE XLK XLU
DATE
1993-01-29       NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN
1993-02-26       NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN
1993-03-31       NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN
1993-04-30       NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN
1993-05-28       NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN

[5 rows x 88 columns]

In [51]:
#: Export to Excel
df_T.to_excel('S:/Research/TrendStrategies/PriceDatabase/EQUITY_ETF_SCR_4Kevin_04292019.xlsx',sheet_name='Data2Use')